
		<p><b>Name:</b><%= @ad.name%> </p>
		<p><b>Description:</b> <%= @ad.description%></p>
		<p><b>Price:</b><%= @ad.price%> </p>
		<p><b>Seller id:</b> <%= @ad.seller_id%></p>
		<p><b>Email:</b><%= @ad.email%> </p>
		<img src="<%= @ad.img_url%>" /><br />
		<a href="/ads/">Back</a>